QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=team4
QINIU_DOMAIN=http://titw4rjei.hd-bkt.clouddn.com

DASHSCOPE_API_KEY=
BAILIAN_APP_ID=
BAILIAN_BASE_URL=https://dashscope.aliyuncs.com/api/v1

DASHSCOPE_WORKSPACE_ID=llm-nt6wkjgugn4k8l49
DASHSCOPE_REGION=cn-beijing
DASHSCOPE_BASE_URL=https://llm-nt6wkjgugn4k8l49.cn-beijing.maas.aliyuncs.com/api/v1

PY_BACKEND_HOST=0.0.0.0
PY_BACKEND_PORT=5001
